@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Background Colors */
    --background-color: #000000;
    --border-color: #2C2C2C;

    /* Text Colors */
    --text-primary: #E0E0E0;
    --text-secondary: #B3B3B3;
    --text-muted: #757575;

    /* Accent Colors */
    --primary-accent: #4f09c8;
    --secondary-accent: #E91E63;

    /* Interactive Colors */
    --button-bg: #333333;
    --button-text: #FFFFFF;
    --button-hover: #a83dc8;
    --link-color: #4FC3F7;
    --link-hover: #FFFFFF;
    --button-border: #B3B3B3;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--border-color);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {

    background: var(--button-hover);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

body {
    color: var(--text-primary);
    background-color: var(--background-color);
}

/*
.background__img {
    background-image: ;
}
    */
a {
    text-decoration: none;
    color: var(--text-primary);
}

img {
    object-fit: cover;
}

.btn {
    border: 2px solid var(--border-color);
    background: var(--button-bg);
    color: var(--button-text);
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}



.btn:hover {
    background: var(--primary-accent);
    color: var(--background-color);
    border-color: var(--primary-accent)
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    padding-right: 20px;
}

.navbar__logo {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 10px;
}

.navbar__logo img {
    width: 35px;
}

.navbar__menu {
    display: flex;
    gap: 20px;
}

.navbar__link {
    font-size: 14px;
    font-weight: 500;
    transition: all 0.5s ease;

}

.footer__link {
    transition: all 0.5s ease;
}

.navbar__link:hover,
.footer__link:hover {
    color: var(--primary-accent);
}

.navbar__actions {
    display: flex;
    align-items: center;
    gap: 20px;
}


.navbar__location h5 {
    font-weight: 500;
    color: var(--text-secondary);
    font-size: 12px;
}

.navbar__location p {
    font-size: 11px;
    font-weight: 600;
}

.btn--secondary {
    background: var(--button-text);
    color: var(--background-color);
    border-color: var(--button-text);
}

.btn--secondary:hover {
    background: var(--button-hover);
    color: var(--button-text);
    border-color: var(--button-hover);
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 60px;
    gap: 60px;
    height: calc(100vh - 75px);
}

.hero__content,
.hero__intro {
    width: 50%;
}

.hero__image {
    width: 430px;
    height: 370px;
    padding-right: 170px;
    object-fit: cover;
    object-position: top center;
}

.hero__content h2 {
    position: absolute;
    font-size: 48px;
    line-height: 45px;
    transform: translate(-1px, -53px);
    /* -1px , -25px */
    color: var(--text-primary);
    text-shadow:
        2px 2px 0 var(--border-color),
        -2px -2px 0 var(--border-color),
        2px -2px 0 var(--border-color),
        -2px 2px 0 var(--border-color);
}

.hero__intro {
    padding-right: 40px;
}

.hero__intro h3 {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
}

.hero__intro p {
    color: var(--text-secondary);
    font-weight: 500;
    margin-bottom: 30px;
}

.hero__intro button,
.skills__actions button {
    padding: 6px 20px;
    font-size: 12px;
    font-weight: 500;
}

.hero__action,
.skills__actions {
    display: flex;
    gap: 10px;
}

.hero__socials {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    right: 30px;
    top: 20%;

}

.hero__socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    ;
    border: 2px solid var(--border-color);
    padding: 8px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.hero__socials a:hover {
    background: var(--primary-accent);
    color: var(--background-color);
    border-color: var(--primary-accent);
}

.skills {
    padding: 60px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.skills_desc,
.skills__stats {
    width: 50%;
}

.skills_desc {
    padding-right: 80px;
}

.skills_desc h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.skills_desc p {
    color: var(--text-primary);
    font-size: 14px;
    margin-bottom: 30px;
}

.skills__stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skills__stats img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: auto;

}


.skill__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--button-bg);
    padding: 10px;
}

.skill__info h5 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skill__info p {
    width: 50%;
    text-align: center;
    font-size: 14px;
    color: var(--text-primary);
    font-weight: 500;
    line-height: 20px;
}

.showcase {
    padding: 80px 60px 100px;
    background: var(--border-color);

}

.showcase__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.showcase__header h3 {
    font-size: 28px;
    font-weight: 400;
}

.showcase__header .btn {
    font-size: 13px;
    padding: 5px 16px;

}

.showcase__categories .category:first-child {
    margin-bottom: 100px;
}

.category__header {
    display: flex;
    align-items: center;
}

.category__title,
.category__desc {
    width: 50%;
    display: flex;
    align-items: center;
}

.category__title {
    gap: 12px;
}

.category__title h4 {
    font-size: 22px;
    font-weight: 400;
}

.category__title img {
    background: var(--button-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
}

.category__desc {
    gap: 40px;
    justify-content: center;

}

.category__desc p {
    font-size: 13px;
    font-weight: 500;
}

.category__desc a {
    font-size: 20px;
}

.category__projects {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.project__card {
    position: relative;
    width: 25%;
    height: 320px;
    padding: 20px;
    background: var(--button-bg);
    border-radius: 10px;

}

.project__card video {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
}

.vid__btn {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    display: flex;
    background: rgba(86, 85, 85, 0.42);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(86, 85, 85, 0.3);
    border-radius: 50%;
    color: var(--button-border);
    padding: 16px 16px 16px 20px;
    cursor: pointer;
}

.project-card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.project-card__info h5 {
    font-size: 17px;
    font-weight: 500;
}

.project-card__info p {
    font-size: 12px;
    color: var(--text-secondary);
    font-weight: 500;
}

.project-card__desc {
    font-size: 13px;
    margin-bottom: 30px;
}

.exp {
    display: flex;
    justify-content: space-between;
    padding: 80px 60px 100px;
}

.work__content,
.awards__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.work__content h3,
.awards__content h3 {
    font-size: 28px;
    font-weight: 400;
}

.work__card,
.award__card {
    display: flex;
    align-items: center;
    gap: 20px;

}

.award__card {
    justify-content: space-between;
}

.award__name {
    display: flex;
    align-items: center;
    gap: 20px;
}

.work__info,
.award__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.work__info h5,
.award__info h5 {
    font-size: 15px;
    font-weight: 500;
}

.work__info p,
.award__info p {
    font-size: 13px;
    color: var(--text-secondary);
    font-weight: 500;
}

.end {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px;
}

.end .btn {
    font-size: 13px;
    padding: 8px 20px;
}

.end h5 {
    font-size: 16px;
    font-weight: 400;
}

.end h1 {
    font-size: 25px;
    line-height: 30px;
}

.end p {
    font-size: 14px;
    color: var(--text-secondary);
    font-weight: 500;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer__content {
    align-items: center;
    font-size: 20px;
    display: flex;
    gap: 20px;
}

.footer__content .footer__p {
    padding-top: 5px;
    font-size: 12px;
    color: var(--text-secondary);
}

.footer__links {
    font-size: 13px;
    display: flex;
    gap: 10px;
}

@media screen and (max-width:1000px) {

    .hero {
        padding: 60px 30px;
    }

    .hero__content img {
        width: 400px;
        height: 330px;
    }

    .hero__content h2 {
        font-size: 40px;
    }

    .hero__intro {
        padding-right: 60px;
    }

    .hero__intro h3 {
        font-size: 30px;
    }

    .hero__intro p {
        font-size: 16px;
    }

    .hero__socials {
        gap: 10px;
    }

    .hero .btn {
        font-size: 11px;
        padding: 5px 10px;
    }

    .skills_desc h2 {
        font-size: 1.3em;
    }

    .skills_desc p {
        font-size: 11px;
    }

    .skills__actions .btn {
        font-size: 11px;
        padding: 5px 10px;
    }

    .skills__stats img {
        width: 40px;
        height: 40px;
    }

    .skill__info h5 {
        font-size: 18px;
    }

    .skill__info p {
        font-size: 13px;
    }

    .showcase__header h3 {
        font-size: 20px;
    }

    .showcase__header .btn {
        font-size: 13px;
        padding: 5px 10px;
    }

    .category__header h4 {
        font-size: 18px;
    }

    .category__desc p {
        font-size: 12px;
    }

    .project__card {
        height: 280px;
    }

    .project-card__desc {
        height: 40px;
        overflow: auto;
    }

    .project-card__info h5 {
        font-size: 15px;
    }

    .project-card__info p {
        font-size: 11px;
    }

}

@media screen and (max-width:790px) {
    .navbar__menu a {
        font-size: 12px;
    }

    .navbar__location h5 {
        font-size: 11px;
    }

    .navbar__location p {
        font-size: 9px;
    }

    .hero {
        padding: 60px 30px;
    }

    .hero__content img {
        width: 350px;
        height: 250px;
    }

    .hero__content h2 {
        font-size: 30px;
        transform: translate(-1px, -63px);
    }

    .hero__intro {
        padding-right: 70px;
    }

    .hero__intro h3 {
        font-size: 25px;
    }

    .hero__intro p {
        font-size: 12px;
    }

    .hero__socials {
        gap: 10px;
    }

    .hero__socials a img {
        width: 23px;
        height: 23px;
    }

    .hero .btn {
        font-size: 9px;
        padding: 5px 10px;
    }

    .skills_desc h2 {
        font-size: 1em;
    }

    .skills_desc p {
        font-size: 9px;
    }

    .skills__actions .btn {
        font-size: 10px;
        padding: 3px 8px;
    }

    .skills__stats img {
        width: 28px;
        height: 28px;
    }

    .skill__info h5 {
        font-size: 14px;
    }

    .skill__info p {
        font-size: 10px;
    }

    .showcase__header h3 {
        font-size: 16px;
    }

    .showcase__header .btn {
        font-size: 12px;
        padding: 4px 8px;
    }

    .category__header h4 {
        font-size: 16px;
    }

    .category__title img {
        width: 42px;
        height: 42px;
    }

    .category__desc p {
        font-size: 10px;
    }

    .category__desc a img {
        width: 20px;
        height: 20px;
    }

    .category__projects {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .project__card {
        width: 100%;
        height: 320px;
    }

    .project-card__desc {
        height: 80px;
        overflow: auto;
    }

    .project-card__info h5 {
        font-size: 15px;
    }

    .project-card__info p {
        font-size: 11px;
    }

    .work__content h3,
    .awards__content h3 {
        font-size: 20px;
    }

    .work__card h5,
    .award__card h5 {
        font-size: 14px;
    }

    .work__card p,
    .award__card p {
        font-size: 11px;
    }

    .award__card a img {
        width: 19px;
        height: 19px;
    }

    .footer__p {
        font-size: 12px;
    }

    .footer__link {
        font-size: 11px;
    }

}

@media screen and (max-width:500px) {
    .navbar {
        padding: 20px;
    }

    .navbar a img {
        width: 22px;
        height: 22px;
    }

    .navbar a {
        font-size: 15px;
    }

    .navbar__menu {
        gap: 8px;
    }

    .navbar__menu a {
        font-size: 10px;
    }

    .navbar__location h5 {
        font-size: 9px;
    }

    .navbar__location p {
        font-size: 7px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        padding: 80px 30px;
        align-items: center;
        margin-bottom: 30px;
    }

    .hero__content img {
        padding: 0px;
        position: relative;
        right: 25%;
        width: 250px;
        height: 290px;
    }

    .hero__content h2 {
        transform: translate(-42px, -60px);
        font-size: 30px;

    }

    .hero__intro {
        padding-left: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .hero__intro h3 {
        font-size: 20px;
    }

    .hero__intro p {
        font-size: 12px;
    }

    .hero__socials {
        top: 30%;
        gap: 20px;
    }

    .hero__socials a img {
        width: 23px;
        height: 23px;
    }

    .hero__action {
        flex-direction: column;
    }

    .hero .btn {

        font-size: 9px;
        padding: 5px 10px;
    }

    .skills {
        margin-top: 110px;
        flex-direction: column;
        align-items: center;
    }

    .skills_desc {
        position: relative;
        left: 12%;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .skills_desc h2 {
        font-size: 22px;
    }

    .skills_desc p {
        font-size: 14px;
        line-height: 30px;
    }

    .skills__actions {
        flex-direction: column;
    }

    .skills__actions .btn {
        font-size: 10px;
        padding: 3px 8px;
    }

    .skills__stats {
        gap: 30px;
        margin-top: 50px;
        width: 100%;
    }

    .skills__stats {
        display: flex;
        flex-direction: column;
    }

    .wedding {
        order: 1;
    }

    .wedding__info {
        order: 2;
    }

    .editing {
        order: 3;
    }

    .editing__info {
        order: 4;
    }

    .ad {
        order: 5;
    }

    .ad__info {
        order: 6;
    }

    .skills__stats img {
        width: 25px;
        height: 25px;
    }

    .skill__info {
        padding: 30px 30px 30px 10px;
    }

    .skill__info h5 {
        text-align: left;
        font-size: 14px;
    }

    .skill__info p {
        font-size: auto;
    }

    .showcase__header h3 {
        font-size: 18px;
    }

    .showcase__header .btn {
        font-size: 12px;
        padding: 4px 8px;
    }

    .category__header h4 {
        font-size: 16x;
    }

    .category__title img {
        width: 35px;
        height: 35px;
    }

    .category__desc p {
        display: none;
    }

    .category__desc a img {
        display: none
    }

    .category__projects {
        display: flex;
        flex-direction: column;
    }

    .project__card {
        width: 100%;
        height: 320px;
    }

    .project-card__desc {
        height: 80px;
        overflow: auto;
    }

    .project-card__info h5 {
        font-size: 15px;
    }

    .project-card__info p {
        font-size: 11px;
    }

    .work__content h3,
    .awards__content h3 {
        font-size: 20px;
    }

    .work__card h5,
    .award__card h5 {
        font-size: 14px;
    }

    .work__card p,
    .award__card p {
        font-size: 11px;
    }

    .award__card a img {
        width: 19px;
        height: 19px;
    }

    .exp {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .work__content {
        width: 112%;
    }

    .awards__content {
        width: 111%;
    }

    .footer__p {
        font-size: 12px;
    }

    .footer__link {
        display: none;
    }

}