@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #000000;
    --border-color: #2C2C2C;
    --text-primary: #E0E0E0;
    --text-secondary: #ffffff;
    --text-muted: #757575;
    --primary-accent: #278dcc;
    --secondary-accent: #c7fff6;
    --button-bg: #333333;
    --button-text: #FFFFFF;
    --button-hover: #ffd7a3;
    --link-color: #4FC3F7;
    --link-hover: #FFFFFF;
    --button-border: #B3B3B3;
    /* LIGHT THEME*/
    --light-background-color: #FFFFFF;
    --light-border-color: #E0E0E0;
    --light-text-primary: #212121;
    --light-text-secondary: #424242;
    --light-text-muted: #757575;
    --light-primary-accent: #6200EE;
    --light-secondary-accent: #C2185B;
    --light-button-bg: #F5F5F5;
    --light-button-text: #212121;
    --light-button-hover: #D1C4E9;
    --light-link-color: #1565C0;
    --light-link-hover: #0D47A1;
    --light-button-border: #BDBDBD;
}

html {
    scroll-behavior: smooth;
}

.mobile {
    display: none;
}

.navbar {
    transition: background-color 0.3s ease;
    position: fixed;
    background: var(--button-bg);
    z-index: 1;
}

::-webkit-scrollbar {
    display: none;
}

.background__img {
    background-image: url("../assets/dark-theme/background.png");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat !important;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

body {
    color: var(--text-primary);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

img {
    object-fit: cover;
}

.btn {
    border: 2px solid var(--border-color);
    background: var(--button-bg);
    color: var(--button-text);
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.btn:hover {
    background: var(--primary-accent);
    color: var(--background-color);
    border-color: var(--primary-accent)
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    padding-bottom: 1px;
}


.navbar__logo img {
    width: 40%;
}

.navbar__menu {
    position: relative;
    right: 30%;
    display: flex;
    gap: 20px;
}

.navbar__link {
    font-size: 14px;
    font-weight: 500;
    transition: all 0.5s ease;

}

.footer__link {
    transition: all 0.5s ease;
}

.navbar__link:hover,
.footer__link:hover {
    color: var(--primary-accent);
}

.navbar__actions {
    display: flex;
    align-items: center;
    gap: 20px;
}


.navbar__location h5 {
    font-weight: 500;
    color: var(--text-secondary);
    font-size: 12px;
}

.navbar__location p {
    font-size: 11px;
    font-weight: 600;
}

.btn--secondary {
    background: var(--button-text);
    color: var(--background-color);
    border-color: var(--button-text);
}

.btn--secondary:hover {
    background: var(--button-hover);
    border-color: var(--button-hover);
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 60px;
    gap: 60px;
    height: calc(100vh - 75px);
}

.hero__content,
.hero__intro {
    width: 50%;
}

.hero__image {
    width: 500px;
    height: 500px;
    padding-right: 170px;
    object-fit: cover;
    object-position: top center;
}

.hero__image {
    position: absolute;
    bottom: -15px;
    left: 200px;
}

.hero__content h2 {
    position: absolute;
    font-size: 48px;
    line-height: 45px;
    top: 415px;
    left: 190px;
    color: var(--text-primary);
    text-shadow:
        2px 2px 0 var(--border-color),
        -2px -2px 0 var(--border-color),
        2px -2px 0 var(--border-color),
        -2px 2px 0 var(--border-color);
}

.hero__intro {
    padding-right: 40px;
}

.hero__intro h3 {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
}

.hero__intro p {
    color: var(--text-secondary);
    font-weight: 400;
    margin-bottom: 30px;
}

.hero__intro button {
    padding: 6px 20px;
    font-size: 12px;
    font-weight: 500;
}

.hero__action {
    display: flex;
    gap: 10px;
}

.hero__socials {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    right: 30px;
    top: 20%;

}

.hero__socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: rgba(51, 51, 51, 0.197);
    border: 2px solid var(--border-color);
    padding: 8px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.hero__socials a:hover {
    background: var(--primary-accent);
    color: var(--background-color);
    border-color: var(--primary-accent);
}

.showcase {
    display: flex;
    flex-direction: column;
    margin: 250px 90px;
}

.showcase__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.action__buttons {
    align-items: center;
    display: flex;
    gap: 10px;
}

.action__buttons button {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    padding: 6px 7px;
    padding-bottom: 4px;
    cursor: pointer;
}

.action__buttons button img {
    object-position: top center;
    width: 15px;
    height: 15px;
}

.showcase__seperator {
    height: 1px;
    width: 300px;
    background: linear-gradient(to right, var(--primary-accent) 0%, #000000 80%);
}

.showcase__projects {
    overflow-x: hidden;
}

.all {
    width: 200%;
    display: flex;
    gap: 20px;
    position: relative;
}

.card__container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
}

.card video {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.vid__btn {
    position: relative;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
    cursor: pointer;
    background: rgba(51, 51, 51, 0.197);
    border: none;
    border-radius: 50%;
    padding: 7px 8px;
    padding-bottom: 4px;
}

.vid__btn img {
    width: 40px;
    height: 40px;
    object-position: top center;
}

.card__title {
    position: relative;
    align-self: center;
    transform: translateY(-200%);
}

.end {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px;
}

.end .btn {
    font-size: 13px;
    padding: 8px 20px;
}

.end h5 {
    font-size: 16px;
    font-weight: 400;
}

.end h1 {
    font-size: 25px;
    line-height: 30px;
}

.end p {
    font-size: 14px;
    color: var(--text-secondary);
    font-weight: 500;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer__content {
    align-items: center;
    font-size: 20px;
    display: flex;
    gap: 20px;
}

.footer__content img {
    object-fit: contain;
}

.footer__content .footer__p {
    padding-top: 5px;
    font-size: 12px;
    color: var(--text-secondary);
}

.footer__links {
    font-size: 13px;
    display: flex;
    gap: 10px;
}

.hero__image {
    animation: img__animation 1s ease;
}


.navbar {
    animation: navbar__animation 1s ease;
}

.hero__intro {
    animation: intro__animation 2s ease;
}

.hero__socials a {
    animation: socials__link__animation 1s ease;
}

@keyframes socials__link__animation {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes intro__animation {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes navbar__animation {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes img__animation {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}


@media screen and (max-width:1000px) {

    .hero {
        padding: 60px 30px;
    }

    .hero__content img {
        width: 480px;
        height: 450px;
        transform: translateX(-70px);
    }

    .hero__content h2 {
        font-size: 40px;
    }

    .hero__intro {
        padding-right: 60px;
    }

    .hero__intro h3 {
        font-size: 30px;
    }

    .hero__intro p {
        font-size: 16px;
    }

    .hero__socials {
        gap: 10px;
    }

    .hero .btn {
        font-size: 11px;
        padding: 5px 10px;
    }

    .hero__image {
        animation: img__animation 1s ease;
    }


    .navbar {
        animation: navbar__animation 1s ease;
    }

    .hero__intro {
        animation: intro__animation 2s ease;
    }

    .hero__socials a {
        animation: socials__link__animation 1s ease;
    }

    @keyframes socials__link__animation {
        from {
            opacity: 0;
            transform: translateX(100%);
        }

        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes intro__animation {
        from {
            opacity: 0;
            transform: translateY(-100%);
        }

        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    @keyframes navbar__animation {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0%);
        }
    }

    @keyframes img__animation {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(-70px);
        }
    }


}

@media screen and (max-width:790px) {
    .navbar__menu a {
        font-size: 12px;
    }

    .navbar__location h5 {
        font-size: 11px;
    }

    .navbar__location p {
        font-size: 9px;
    }

    .hero {
        padding: 60px 30px;
    }

    .hero__content img {
        width: 500px;
        height: 470px;
        transform: translateX(-140px);
    }


    .hero__intro {
        padding-right: 70px;
    }

    .hero__intro h3 {
        font-size: 20px;
        line-height: 20px;
    }

    .hero__intro p {
        font-size: 10px;
        font-weight: 400;
        line-height: 13px;
    }

    .hero__socials {
        gap: 10px;
    }

    .hero__socials a img {
        width: 23px;
        height: 23px;
    }

    .hero .btn {
        font-size: 9px;
        padding: 5px 10px;
    }

    .footer__p {
        font-size: 12px;
    }

    .footer__link {
        font-size: 11px;
    }

    .hero__image {
        animation: img__animation 1s ease;
    }

    .navbar {
        animation: navbar__animation 1s ease;
    }

    .hero__intro {
        animation: intro__animation 2s ease;
    }

    .hero__socials a {
        animation: socials__link__animation 1s ease;
    }

    @keyframes socials__link__animation {
        from {
            opacity: 0;
            transform: translateX(100%);
        }

        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes intro__animation {
        from {
            opacity: 0;
            transform: translateY(-100%);
        }

        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    @keyframes navbar__animation {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0%);
        }
    }

    @keyframes img__animation {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(-140px);
        }
    }

}

@media screen and (min-width:2000px) {
    .navbar {
        padding: 30px 60px;
    }

    .navbar__logo {
        font-size: 30px;
    }

    .navbar a img {
        width: 100%;
        height: 60px;
    }

    .navbar__menu a {
        font-size: 25px;
    }

    .navbar__menu {
        gap: 45px;
    }

    .navbar__location h5 {
        font-size: 25px;
    }

    .navbar__location p {
        font-size: 20px;
    }

    .hero {
        padding: 90px 50px;
    }

    .hero__content img {
        width: 900px;
        height: 1000px;
    }

    .hero__image {
        position: absolute;
        bottom: 0px;
        left: 400px;
    }

    .hero__intro {
        padding-right: 60px;
    }

    .hero__intro h3 {
        font-size: 60px;
        margin-bottom: 80px;
        line-height: 70px;
    }

    .hero__intro p {
        font-size: 28px;
    }

    .hero__socials {
        gap: 30px;
    }

    .hero__socials a {
        width: 60px;
        height: 60px;

    }

    .hero__socials a img {
        width: 40px;
        height: 40px;

    }

    .hero .btn {
        font-size: 20px;
        padding: 10px 60px;
    }

    .hero__image {
        animation: img__animation 1s ease;
    }


    .navbar {
        animation: navbar__animation 1s ease;
    }

    .hero__intro {
        animation: intro__animation 2s ease;
    }

    .hero__socials a {
        animation: socials__link__animation 1s ease;
    }

    .end h5 {
        font-size: 25px;
    }

    .end h1 {
        font-size: 40px;
    }

    .end p {
        font-size: 22px;
    }

    .end .btn {
        font-size: 20px;
        padding: 10px 40px;
    }

    .footer__links {
        gap: 30px;
    }

    .footer__link {
        font-size: 20px;
    }

    .footer__content p {
        font-size: 30px;
    }

    .footer__content .footer__p {
        font-size: 20px;

    }


    @keyframes socials__link__animation {
        from {
            opacity: 0;
            transform: translateX(100%);
        }

        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes intro__animation {
        from {
            opacity: 0;
            transform: translateY(-100%);
        }

        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    @keyframes navbar__animation {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0%);
        }
    }

    @keyframes img__animation {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0%);
        }
    }


}

@media screen and (max-width:500px) {
    .mobile-container {
        background-image: url("../assets/dark-theme/mobile-background.png");
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat !important;
    }

    .navbar {
        display: none;
    }

    .mobile {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        padding: 8px;
        margin-top: 10px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        background-color: var(--border-color);
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        overflow-y: auto;
        transition: right 0.4s ease;
        z-index: 1000;
        border-radius: 30px 0px 0px 30px;
    }

    .nav-menu li {
        padding: 20px 15px;
        border-bottom: 1px solid var(--light-button-bg);
    }

    .nav-menu li:last-child {
        border-bottom: none;
    }

    .nav-menu li:first-child {
        border-bottom: none;
    }

    .nav-menu li a {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

    .menu-toggle {
        display: none;
    }

    .menu-label {
        display: inline-block;
        cursor: pointer;
        padding: 8px 12px;
        border-radius: 5px;
        color: white;
    }

    .menu-label:hover {
        background-color: var(--menu-hover-color);
    }

    .menu-toggle:checked~.nav-menu {
        right: 0;
    }

    .menu-toggle:checked~.overlay {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        transition: opacity 0.4s ease;
    }

    .overlay {
        display: none;
        opacity: 0;
    }

    .menu-toggle:checked~.overlay {
        opacity: 1;
    }

    .close-menu {
        cursor: pointer;
        position: absolute;
        right: 44%;
    }

    .close-li {
        background: var(--light-button-text);
    }

    .close-menu:hover {
        background-color: var(--background-color);
    }

    .hero {
        display: flex;
        flex-direction: column;
        padding: 60px 20px 5px;
        align-items: center;
    }

    .hero__content img {
        padding: 0px;
        position: absolute;
        top: 5%;
        left: 47%;
        width: 280px;
        height: 400px;
    }


    .hero__intro {
        position: absolute;
        top: 55%;
        padding-left: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hero__intro h3 {
        font-size: 28px;
        line-height: 30px;
    }

    .hero__intro p {
        font-size: 15px;
        line-height: 17px;
    }

    .hero__socials {
        top: 30%;
        gap: 16px;
    }

    .hero__socials a img {
        width: 20px;
        height: 20px;
    }

    .hero__action {
        flex-direction: column;
        gap: 10px;
    }

    .hero .btn {
        font-size: 12px;
        padding: 10px 10px;
    }

    .end h5 {
        font-size: 14px;
    }

    .end h1 {
        font-size: 22px;
    }

    .end p {
        font-size: 12px;
    }

    .footer__p {
        font-size: 11px;
    }

    .footer__link {
        display: none;
    }

    .hero__image {
        animation: img__animation 1s ease;
    }

    .hero__intro {
        animation: intro__animation 1.5s ease;
    }

    .hero__socials a {
        animation: socials__link__animation 1s ease;
    }

    @keyframes socials__link__animation {
        from {
            opacity: 0;
            transform: translateX(100%);
        }

        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes intro__animation {
        from {
            opacity: 0;
            transform: translateY(-100%);
        }

        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }


}